div{
    background-color: cornflowerblue;
    height: 10rem;
    width: 10rem;
}

.scale:hover{
    transform: scale(0.5);
}

.translate:hover{
    transform: translate(20px, 20px);
}

.rotate:hover{
    transform: rotate(45deg);
}

.skew:hover{
    transform: skew(30deg, 40deg);
}